<.header>
  Edit Property {@property.id}
  <:subtitle>Use this form to manage property records in your database.</:subtitle>
</.header>

<.property_form changeset={@changeset} action={~p"/metadata_properties/#{@property}"} />

<.back navigate={~p"/metadata_properties"}>Back to metadata_properties</.back>
