<.header>
  New Resource class
  <:subtitle>Use this form to manage resource_class records in your database.</:subtitle>
</.header>

<.resource_class_form changeset={@changeset} action={~p"/resource_class"} />

<.back navigate={~p"/resource_class"}>Back to resource_class</.back>
