<.header>
  New Resource template property
  <:subtitle>
    Use this form to manage resource_template_property records in your database.
  </:subtitle>
</.header>

<.resource_template_property_form
  changeset={@changeset}
  action={~p"/manage/metaresource/resource_templ_property"}
/>
<.back navigate={~p"/manage/metaresource/resource_templ_property"}>
  Back to resource_template_property
</.back>
