<.live_component
  module={VoileWeb.Dashboard.MetaResource.ResourceTemplateLive.FormComponent}
  id="template-form"
  title="Create New Resource Template"
  action="Create Template"
  submit_text="Creating..."
  cancel_path={nil}
  resource_template={@resource_template}
  resource_class={@resource_class}
  properties={[]}
  selected_properties={[]}
  search_term=""
  loading={false}
  dragging={nil}
  initial_values={%{}}
/>
